@page "/users"
@attribute [Authorize]
@layout MainLayout

<MudContainer Style="display: inline-block; position: relative; top: 0; bottom: 0; left: 0; right: 0; width: 700px; height: 600px; margin: auto; ">
    <MudTable Items="@users" Filter="new Func<Account,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1" Breakpoint="Breakpoint.Sm" Loading="@loading" LoadingProgressColor="Color.Info" Dense="@dense">
        <ToolBarContent>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh> </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.FirstName @context.LastName</MudTd>
            <MudTd>@context.Email </MudTd>
            <MudTd>
                <MudMenu Label="Open Menu" Variant="Variant.Filled" EndIcon="@Icons.Filled.KeyboardArrowDown">
                    <MudMenuItem>
                        <MudButton OnClick="@(() => ShowInformation(context.Id))" StartIcon="@Icons.Material.Outlined.Info" Color="Color.Info" ButtonType="ButtonType.Button">Info</MudButton>
                    </MudMenuItem>
                    <MudMenuItem>
                        <MudButton OnClick="@(() => LoadUserChat(context.Id))" StartIcon="@Icons.Material.Filled.Chat" Color="Color.Primary" ButtonType="ButtonType.Button">Chat</MudButton>
                    </MudMenuItem>
                    <MudMenuItem>New feature</MudMenuItem>
                </MudMenu>
            </MudTd>
        </RowTemplate>
    </MudTable>
    <div class="d-flex flex-wrap mt-4">
        <MudSwitch @bind-Checked="@loading" Color="Color.Info">Loading</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
        <MudSpacer />
    </div>
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger mt-3 mb-0">@error</div>
    }
</MudContainer>
@code {
    private bool loading = false;
    private IEnumerable<Account> users = new List<Account>();
    private bool dense = false;
    private bool striped = false;
    private string error;
    private string searchString1 = "";
    private string searchString2 = "";
    private Account selectedItem1 = null;
    private Account selectedItem2 = null;
    private HashSet<Account> selectedItems = new HashSet<Account>();
    [Parameter] public string CurrentUserId { get; set; }
    [Parameter] public string ContactId { get; set; }

    void ShowInformation(int userId)
    {
        ContactId = userId.ToString();
        _navigationManager.NavigateTo($"card/{ContactId}");
    }

    void LoadUserChat(int userId)
    {
        ContactId = userId.ToString();
        _navigationManager.NavigateTo($"chat/{ContactId}");
    }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        try
        {
            CurrentUserId = _accountService.Account.Id.ToString();
            users = await _accountService.GetAllUsersAsync(CurrentUserId);
            loading = false;
            dense = true;
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }

    private bool FilterFunc1(Account users) => FilterFunc(users, searchString1);
    private bool FilterFunc2(Account users) => FilterFunc(users, searchString2);

    private bool FilterFunc(Account users, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (users.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{users.Id} {users.FirstName} {users.LastName} {users.Email}".Contains(searchString))
            return true;
        return false;
    }
}

